In [20]:
import pandas as pd
import json

data=pd.read_csv("data1.csv")

In [21]:
data.head()

,-9.8184,0.009971,0.29563,0.0041863,0.0041863.1,2.1849,-9.6967,0.63077,0.1039,-0.84053,...,-8.6499,-4.5781,0.18776,-0.44902,-1.0103,0.034483,-2.35,-1.6102,-0.030899,0
0,-9.8489,0.52404,0.37348,0.004186,0.016745,2.3876,-9.5080,0.68389,0.085343,-0.83865,...,-8.6275,-4.3198,0.023595,-0.44902,-1.0103,0.034483,-2.16320,-0.882540,0.326570,0
1,-9.6602,0.18185,0.43742,0.016745,0.037677,2.4086,-9.5674,0.68113,0.085343,-0.83865,...,-8.5055,-4.2772,0.275720,-0.44902,-1.0103,0.034483,-1.61750,-0.165620,-0.030693,0
2,-9.6507,0.21422,0.24033,0.079540,0.117220,2.1814,-9.4301,0.55031,0.085343,-0.83865,...,-8.6279,-4.3163,0.367520,-0.45686,-1.0082,0.025862,-1.07710,0.006945,-0.382620,0
3,-9.7030,0.30389,0.31156,0.221870,0.205130,2.4173,-9.3889,0.71098,0.085343,-0.83865,...,-8.7008,-4.1459,0.407290,-0.45686,-1.0082,0.025862,-0.53684,0.175900,-1.095500,0
4,-9.6511,0.23261,0.42094,0.154890,0.138150,2.2639,-9.4493,0.61267,0.098330,-0.84240,...,-8.7247,-4.0449,0.506090,-0.45686,-1.0082,0.025862,0.18674,0.720440,-0.364480,0

In [22]:
data.columns = ['Columna1','Columna2','Columna3','Columna4','Columna5','Columna6','Columna7','Columna8','Columna9','Columna10','Columna11','Columna12','Columna13','Columna14','Columna15','Columna16','Columna17','Columna18','Columna19','Columna20','Columna21','Columna22','Columna23','Columna24']

Columna 1: aceleración desde el sensor de pecho (eje X)
Columna 2: aceleración desde el sensor de pecho (eje Y)
Columna 3: aceleración desde el sensor de pecho (eje Z)
Columna 4: señal de electrocardiograma (derivación 1)
Columna 5: señal de electrocardiograma (derivación 2)
Columna 6: aceleración desde el sensor del tobillo izquierdo (eje X)
Columna 7: aceleración desde el sensor del tobillo izquierdo (eje Y)
Columna 8: aceleración desde el sensor del tobillo izquierdo (eje Z)
Columna 9: giroscopio del sensor del tobillo izquierdo (eje X)
Columna 10: giroscopio del sensor del tobillo izquierdo (eje Y)
Columna 11: giroscopio del sensor del tobillo izquierdo (eje Z)
Columna 13: magnetómetro del sensor del tobillo izquierdo (eje X)
Columna 13: magnetómetro del sensor del tobillo izquierdo (eje Y)
Columna 14: magnetómetro del sensor del tobillo izquierdo (eje Z)
Columna 15: aceleración del sensor del antebrazo derecho (eje X)
Columna 16: aceleración del sensor del antebrazo derecho (eje Y)
Columna 17: aceleración del sensor del antebrazo derecho (eje Z)
Columna 18: giroscopio del sensor del antebrazo derecho (eje X)
Columna 19: giroscopio del sensor del antebrazo derecho (eje Y)
Columna 20: giroscopio del sensor del antebrazo derecho (eje Z)
Columna 21: magnetómetro del sensor del antebrazo derecho (eje X)
Columna 22: magnetómetro del sensor del antebrazo derecho (eje Y)
Columna 23: magnetómetro del sensor del antebrazo derecho (eje Z)

In [23]:
data.head()

,Columna1,Columna2,Columna3,Columna4,Columna5,Columna6,Columna7,Columna8,Columna9,Columna10,...,Columna15,Columna16,Columna17,Columna18,Columna19,Columna20,Columna21,Columna22,Columna23,Columna24
0,-9.8489,0.52404,0.37348,0.004186,0.016745,2.3876,-9.5080,0.68389,0.085343,-0.83865,...,-8.6275,-4.3198,0.023595,-0.44902,-1.0103,0.034483,-2.16320,-0.882540,0.326570,0
1,-9.6602,0.18185,0.43742,0.016745,0.037677,2.4086,-9.5674,0.68113,0.085343,-0.83865,...,-8.5055,-4.2772,0.275720,-0.44902,-1.0103,0.034483,-1.61750,-0.165620,-0.030693,0
2,-9.6507,0.21422,0.24033,0.079540,0.117220,2.1814,-9.4301,0.55031,0.085343,-0.83865,...,-8.6279,-4.3163,0.367520,-0.45686,-1.0082,0.025862,-1.07710,0.006945,-0.382620,0
3,-9.7030,0.30389,0.31156,0.221870,0.205130,2.4173,-9.3889,0.71098,0.085343,-0.83865,...,-8.7008,-4.1459,0.407290,-0.45686,-1.0082,0.025862,-0.53684,0.175900,-1.095500,0
4,-9.6511,0.23261,0.42094,0.154890,0.138150,2.2639,-9.4493,0.61267,0.098330,-0.84240,...,-8.7247,-4.0449,0.506090,-0.45686,-1.0082,0.025862,0.18674,0.720440,-0.364480,0

#nos enfocaremos en el electrocardiograma, osea las columnas 4 y 5

In [28]:
dataCardio= data[["Columna4","Columna5"]]

In [29]:
dataCardio.head()

   Columna4  Columna5
0  0.004186  0.016745
1  0.016745  0.037677
2  0.079540  0.117220
3  0.221870  0.205130
4  0.154890  0.138150

In [30]:
import numpy as np #para manejar las listas obtenidas

In [34]:
def añadirTiempo(data):
    data['NuevoTiempo']=data[data.columns].mean(axis=1) 
    return data

In [35]:
dataCardio=añadirTiempo(dataCardio)

D:\ANACONDA\envs\paul-gpu\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [43]:
dataCardio.head()

   Columna4  Columna5  NuevoTiempo
0  0.004186  0.016745     0.010466
1  0.016745  0.037677     0.027211
2  0.079540  0.117220     0.098380
3  0.221870  0.205130     0.213500
4  0.154890  0.138150     0.146520