In [ ]:
#VISUALIZACIÓN DE CANTIDAD DE HOMBRES Y MUJERES EN COMPARACIÓN A LAS VENTAS

In [2]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

In [4]:
df = pd.read_excel('sales.xls')

print("Column headings:")
print(df.columns)

Column headings:
Index(['purchase', 'age', 'gender', 'income'], dtype='object')

In [5]:
df.head()

   purchase  age  gender income
0         0   41  Female    Low
1         0   47  Female    Low
2         1   41  Female    Low
3         1   39  Female    Low
4         0   32  Female    Low

In [8]:
df.shape

(431, 4)

In [14]:
df.sum()

purchase                                                  162
age                                                     16798
gender      FemaleFemaleFemaleFemaleFemaleFemaleFemaleFema...
income      LowLowLowLowLowLowLowLowLowLowLowLowLowLowLowL...
dtype: object

In [15]:
purchaseSum= df.sum()[0]
purchaseSum

162

In [16]:
ageSum= df.sum()[1]

In [39]:
df['gender'].value_counts()

Female    240
Male      191
Name: gender, dtype: int64

In [40]:
cantFemale=df['gender'].value_counts()[0]
cantMale=df['gender'].value_counts()[1]

In [42]:
import pygal

In [55]:
from pygal.style import Style

chart = pygal.Bar()
chart.add('Edades que más venden', [{'value': purchaseSum, 'label': 'más ventas'}])
chart.add('MUJERES', [{'value': cantFemale, 'label': 'cantidad  de Mujeres'}])
chart.add('HOMBRES', [{'value': cantMale, 'label': 'Cantidad de hombres'}])
chart.render_in_browser()

file://C:/Users/HUELPA~1/AppData/Local/Temp/tmpozdpxy64.html