In [5]:
import findspark

findspark.init()

In [12]:
from pyspark import SparkContext
sc = SparkContext()
from pyspark.sql import SQLContext
sqlContext=SQLContext(sc)
print("echo1")

echo1

In [11]:
sc.stop()
print("echo2")

echo2

In [15]:
bd = sqlContext.read.format("com.databricks.spark.csv"
).option("header", "true"
).load("automobileEDA.csv", inferSchema=True
)

In [16]:
bd.dtypes

[('symboling', 'int'),
 ('normalized-losses', 'int'),
 ('make', 'string'),
 ('aspiration', 'string'),
 ('num-of-doors', 'string'),
 ('body-style', 'string'),
 ('drive-wheels', 'string'),
 ('engine-location', 'string'),
 ('wheel-base', 'double'),
 ('length', 'double'),
 ('width', 'double'),
 ('height', 'double'),
 ('curb-weight', 'int'),
 ('engine-type', 'string'),
 ('num-of-cylinders', 'string'),
 ('engine-size', 'int'),
 ('fuel-system', 'string'),
 ('bore', 'double'),
 ('stroke', 'double'),
 ('compression-ratio', 'double'),
 ('horsepower', 'double'),
 ('peak-rpm', 'double'),
 ('city-mpg', 'int'),
 ('highway-mpg', 'int'),
 ('price', 'double'),
 ('city-L/100km', 'double'),
 ('horsepower-binned', 'string'),
 ('diesel', 'int'),
 ('gas', 'int')]

In [18]:
bd=bd.select('symboling','normalized-losses','make','aspiration','num-of-doors','body-style',
             'drive-wheels', 'fuel-system','horsepower-binned')

In [19]:
bd.columns

['symboling',
 'normalized-losses',
 'make',
 'aspiration',
 'num-of-doors',
 'body-style',
 'drive-wheels',
 'fuel-system',
 'horsepower-binned']

In [20]:
bd

DataFrame[symboling: int, normalized-losses: int, make: string, aspiration: string, num-of-doors: string, body-style: string, drive-wheels: string, fuel-system: string, horsepower-binned: string]

In [21]:
bd.dtypes

[('symboling', 'int'),
 ('normalized-losses', 'int'),
 ('make', 'string'),
 ('aspiration', 'string'),
 ('num-of-doors', 'string'),
 ('body-style', 'string'),
 ('drive-wheels', 'string'),
 ('fuel-system', 'string'),
 ('horsepower-binned', 'string')]

In [22]:
bd.head(3)

[Row(symboling=3, normalized-losses=122, make='alfa-romero', aspiration='std', num-of-doors='two', body-style='convertible', drive-wheels='rwd', fuel-system='mpfi', horsepower-binned='Medium'),
 Row(symboling=3, normalized-losses=122, make='alfa-romero', aspiration='std', num-of-doors='two', body-style='convertible', drive-wheels='rwd', fuel-system='mpfi', horsepower-binned='Medium'),
 Row(symboling=1, normalized-losses=122, make='alfa-romero', aspiration='std', num-of-doors='two', body-style='hatchback', drive-wheels='rwd', fuel-system='mpfi', horsepower-binned='Medium')]

In [23]:
bd.show(3)

+---------+-----------------+-----------+----------+------------+-----------+------------+-----------+-----------------+
|symboling|normalized-losses|       make|aspiration|num-of-doors| body-style|drive-wheels|fuel-system|horsepower-binned|
+---------+-----------------+-----------+----------+------------+-----------+------------+-----------+-----------------+
|        3|              122|alfa-romero|       std|         two|convertible|         rwd|       mpfi|           Medium|
|        3|              122|alfa-romero|       std|         two|convertible|         rwd|       mpfi|           Medium|
|        1|              122|alfa-romero|       std|         two|  hatchback|         rwd|       mpfi|           Medium|
+---------+-----------------+-----------+----------+------------+-----------+------------+-----------+-----------------+
only showing top 3 rows

In [24]:
bd.count()

201

In [25]:
bd.dropna().count()

200

In [27]:
bd.select('drive-wheels').dropna().count()

201

In [31]:
bd.select("drive-wheels").distinct().count()

3

In [32]:
bd.select('make','drive-wheels').groupBy('make').mean().show()

+-------------+
|         make|
+-------------+
|       peugot|
|       jaguar|
|   mitsubishi|
|       toyota|
|         saab|
|     plymouth|
|         audi|
|  alfa-romero|
|          bmw|
|        dodge|
|        mazda|
|mercedes-benz|
|        isuzu|
|      porsche|
|    chevrolet|
|        honda|
|   volkswagen|
|      mercury|
|      renault|
|       nissan|
+-------------+
only showing top 20 rows

In [42]:
bd.describe('horsepower-binned').show()

+-------+-----------------+
|summary|horsepower-binned|
+-------+-----------------+
|  count|              200|
|   mean|             null|
| stddev|             null|
|    min|             High|
|    max|           Medium|
+-------+-----------------+

In [36]:
sqlContext.registerDataFrameAsTable(bd, "bd")

In [40]:
sqlContext.sql("select horsepower-binned count(*) as n \
                from bd \
                group by Dest \
                order by n desc").show()

ParseException: "\nmismatched input '(' expecting <EOF>(line 1, pos 30)\n\n== SQL ==\nselect horsepower-binned count(*) as n                 from bd                 group by Dest                 order by n desc\n------------------------------^^^\n"